//Color
//-------------------------------------
$color-purple: #5C5EDC;
$color-body: #CECECE;
$color-white: #fff;
$color-gray: #595A5F;
$color-title: #35303d;
$color-button: #50505a;

//Font-size
//-------------------------------------
$font-size-base: 13px;

//Background
//-------------------------------------
$bg-color: #222125;
$bg-detail: #18191b;
$bg-black: #333;

//Font
//-------------------------------------
$font-base: 'Lato', sans-serif;

//Z-index
//-------------------------------------
$zIndex1: 100;
$zIndex2: 200;
$zIndex3: 300;
$zIndex4: 400;
$zIndex5: 500;